<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />

    <link href="https://v1.fontapi.ir/css/ShabnamFD" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'vitrin/static/css/Style.css' %}" />
    <link rel="stylesheet" href="{% static 'vitrin/static/css/uikit-rtl.min.css' %}" />
    <title>HomePage</title>
  </head>
  <body>
    <header>
      <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">صفحه اصلی <span class="sr-only">(current)</span></a>
          </div>
        </div>
        <button type="button" class="btn btn-dark" data-toggle="tooltip" data-placement="bottom" title="پیگیری سفارش">
          <a href=""><span class="uk-margin-big-right" uk-icon="info"></span></a>
        </button>
      </nav> -->
      <img src="{% static 'image/header.jpg' %}" alt="image not found" />
    </header>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12" id="table">
          <ul id="c">
            <!-- start loop for money information -->
            <li>
              <div>
                <strong
                  >bitcoin
                  <p>
                    <svg id="down" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill text-danger" viewBox="0 0 16 16">
                      <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" /></svg
                    ><a class="DownPrice" href="">

                      {{ low_btc }}

                      <!-- falling prices -->
                    </a>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill text-success" viewBox="0 0 16 16">
                      <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" /></svg
                    ><a class="UpPrice" href="">

                      {{ high_btc }}

                      <!-- rising prices -->
                    </a>
                  </p>
                  <a class="OnlinePrice" href="">

                      {{ price_now_btc }}

                    <!-- live prices -->
                  </a>
                </strong>
              </div>
            </li>
            <li>
              <div>
                <strong
                  >ethereum
                  <p>
                    <svg id="down" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill text-danger" viewBox="0 0 16 16">
                      <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" /></svg
                    ><a class="DownPrice" href="">

                      {{ low_eth }}

                      <!-- falling prices -->
                    </a>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill text-success" viewBox="0 0 16 16">
                      <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" /></svg
                    ><a class="UpPrice" href="">

                      {{ high_eth }}

                      <!-- rising prices -->
                    </a>
                  </p>
                  <a class="OnlinePrice" href="">

                      {{ price_now_eth }}

                    <!-- live prices -->
                  </a>
                </strong>
              </div>
            </li>
            <li>
              <div>
                <strong
                  >dogecoin
                  <p>
                    <svg id="down" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill text-danger" viewBox="0 0 16 16">
                      <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" /></svg
                    ><a class="DownPrice" href="">

                      {{ low_doge }}

                      <!-- falling prices -->
                    </a>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill text-success" viewBox="0 0 16 16">
                      <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" /></svg
                    ><a class="UpPrice" href="">

                      {{ high_doge }}

                      <!-- rising prices -->
                    </a>
                  </p>
                  <a class="OnlinePrice" href="">

                      {{ price_now_doge }}

                    <!-- live prices -->
                  </a>
                </strong>
              </div>
            </li>
            <!-- end loop for money information -->
          </ul>
        </div>
      </div>
    </div>
    <br />
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-2 col-md-10" id="BUTTON">
          <div class="row justify-content-md-center" role="group" aria-label="Basic example">
            <button type="button" class="btn" id="COIN" value="Get">ارز دیجیتال چیست</button>
            <button type="button" class="btn" id="BitCoin" value="Get">بیت کوین</button>
          </div>
        </div>
        <div class="col-xl-9 col" id="TEXT">
          <p>hello c'est moi</p>

            {% if not request.user.username %}
                <p><a href="{% url 'profile:user_signup' %}">ثبت نام/ورود</a></p>
            {% else %}
                <p><a href="{% url 'logout' %}">خروج از حساب کاربری</a></p>
            {% endif %}

        </div>
      </div>
    </div>
    <div class="modal"><!-- Place at bottom of page --></div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/uikit-icons.min.js' %}"></script>
    <script src="{% static 'js/uikit.min.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
  </body>
</html>
