
{% load static %}
<link rel="stylesheet" href="{% static 'vitrin/static/css/Style.css' %}" />
<div id="BitCoin">
  <img src="{% static 'vitrin/static/images/BitCoin.jpg' %}" alt="" />
  <h3>هر آنچه یک مبتدی باید در مورد بیت کوین بداند</h3>
  <p>بیت کوین در واقع یک ارز دیجیتال است. ارز دیجیتال یعنی پولی که در فضای اینترنتی تولید و در همین فضا نیز مورد استفاده قرار می‌گیرد.</p>
  <p>این ارز دیجیتالی در سال 2009 توسط شخصی به نام ساتوشی ناکاموتو به وجود آمد که همچنان نیز با گذشت 10 سال، هویت آن برای هیچکس شناخته نشده است.</p>
  <p>بیت کوین نیز مانند دیگر ارزهای دیجیتال ظاهر فیزیکی و قابل لمسی ندارند یعنی وجود خارجی ندارد.</p>
  <hr />
  <p>بیت کوین در اختیار هیچ دولتی نیست و هیچ نهادی نمی‌تواند در سازوکار آن دخالت کند. مهمترین هدف بیت کوین را می‌توان ایجاد فضای امنی برای ذخیره و انتقال پول دانست.</p>
  <p></p>
</div>
