
{% load static %}
<link rel="stylesheet" href="{% static 'vitrin/static/css/Style.css' %}" />
<div id="COIN">
  <h3>ارزهای دیجیتال از کجا آمده اند، و در مورد این نوع پول های الکترونیکی و نوین چه چیزهایی باید بدانیم؟</h3>
  <p>همزمان با رشد ارزش بیت کوین در سال ۲۰۱۷، ارزهای دیجیتال به یک جریان اصلی در دنیا تبدیل شدند. معمولا به ارزهای دیجیتال نام «طلای دیجیتال» نسبت داده می شود. زیرا، برخی از ویژگی های بیت کوین و سایر ارزهای دیجیتال با این فلز گران بها برابری می کنند. اما این مقایسه درستی نیست.</p>
  <p>کریپتوکارنسی یا ارز دیجیتال به یک سیستم انتقال وجه الکترونیک گفته می شود که برای تایید تراکنش ها و تشکیل واحدهای جدید، متکی به بانک های مرکزی نبوده و نیازی به شخص ثالث ندارند. در عوض در سیستم ارزهای دیجیتال تراکنش ها در یک دفتر کل توزیع شده به نام بلاک چین ثبت و رمزنگاری می شوند، و این موضوع امکان پرداخت های مستقیم و همتا به همتا را فراهم می کند.</p>
  <img src="{% static 'vitrin/static/images/test1.jpg' %}" alt="" />
  <p>هدف از اختراع <a href=""> بلاک چین</a>، ارائه یک راه حل برای «مشکل دوبار خرج کردن» در ارزهای دیجیتال بود، زیرا کپی کردن اطلاعات دیجیتال کار آسانی است. در جریان این نقص، دارنده یک سکه نقدی جایگزین آن را در یک جا صرف و از کد منحصر به فرد خود برای یک تراکنش در جای دیگر استفاده می کند. مانند این که کسی یک زمین را همزمان به دو نفر بفروشد.</p>
  <p>علاوه بر این، در هر بلاک اطلاعاتی قرار دارد که به بلاک قبل از آن بر می گردد. در نتیجه، هر بلاک با بلاک قبل از خود یک نوع ارتباط ارجاعی داشته و یک زنجیره را در شبکه به وجود می آورد. به این اطلاعات هش گفته می شود. توابع هش در بلاک یک مجموعه خاص از اطلاعات را به صورت زنجیره ای از حروف و اعداد به نام digest در می آورند. اگر داده های موجود تغییر پیدا کنند، هش نیز تغییر می کند. وجود هش در بلاک، امنیت شبکه را تضمین می کند.</p>
</div>
